* {
    margin:0;
    padding:0;
}

ul, li{
    list-style: none;
}
.comment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
    width: 600px;
    margin: 0 auto;
}

.comment > li {
    margin-top: 20px;
}

.comment > li:nth-child(1){
    margin: 0;
}

.comment .comment-form>form>h4{
    width: 100%;
    margin: 14px 0;

}
.comment-form>form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ps-box{
    display: block;
    position: relative;
    width:80%;
    height: 50px;
    border:1px solid #777;
    padding : 10px 14px;
    background-color: #888;
    box-sizing: border-box;
}
.ps-box>input{
    outline:none; /*인풋의 기본 스타일 속성 테두리 제거*/
}
.int{
    display : block;
    position:relative;
    width:100%;
    height: 30px;
    padding: 0 6px;
    line-height:30px;
    font-size: 15px;
    box-sizing: border-box;
}

.btn {
    width: 20%;
    padding: 18px 0 12px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    background-color: #333;
    color: #fff;
    font-size:14px;
}

.comment-row {
    width:100%;
    display:flex;
    padding: 3px 6px;

}

.comment-row li{
    border:4px solid rgb(84, 69, 69);
    padding:20px 0;
    /*height: 100%;*/
    /*display: flex;*/
    text-overflow: ellipsis;/*overflow: hidden; 속성이 있고, 글자가 부모 요소 밖으로 나가면 ellipsis 보여줄 속성*/
    white-space: nowrap;/*문단 줄내림을 정의하는 속성*/
    word-wrap: break-word;/*글 단위의 줄내림을 정의하는 속성*/
    overflow: hidden;

}
.comment-row li:nth-child(1){
    width: 15%;
    text-align:center;
}
.comment-row li:nth-child(2){
    width: 50%;
    padding:20px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-update-btn{
    width: 250px;
    display: inline-block;
    text-overflow: ellipsis;/*overflow: hidden; 속성이 있고, 글자가 부모 요소 밖으로 나가면 ellipsis 보여줄 속성*/
    white-space: nowrap;/*문단 줄내림을 정의하는 속성*/
    word-wrap: break-word;/*글 단위의 줄내림을 정의하는 속성*/
    overflow: hidden;
}
.comment-row li:nth-child(3){
    width: 35%;
    text-align: center;
}

.comment-delete-btn{
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.comment-delete-btn::after,
.comment-delete-btn::before{
    content:"";
    display: block;
    position: absolute;
    width:100%;
    height: 4px;
    background-color: red;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.comment-delete-btn::before {
    transform: translate(-50%,-50%) rotate(45deg);
}

.comment-update-cancel {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.comment-update-cancel::before,
.comment-update-cancel::after{
    content:"";
    display: block;
    position: absolute;
    width:100%;
    height: 4px;
    background-color: blue;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.comment-update-cancel::before {
    transform: translate(-50%,-50%) rotate(45deg);
}