@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 20, 20);
}
#space_back{
    width: 100%;
    position: absolute;
    z-index: -100;
    opacity: 20%;
}
#content_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 89vh;
    margin-top: 5vh;
    border-radius: 5vh;
    background-color: rgb(228, 227, 227);
    box-shadow: -5px -3px 3px 3px rgba(200, 200, 200, 0.7) inset, 
            3px 2px 3px 3px rgba(200, 200, 200, 0.7);
    
}
/* #moon {
    position: absolute;
    height: 80%;
    margin-right: 110vh;
    margin-top: -20vh;
    z-index: -100;
    opacity: 50%;
}
#moon2 {
    position: absolute;
    height: 70%;
    margin-right: -98vh;
    margin-top: 30vh;
    z-index: 0;
    opacity: 30%;

}
.main_txt {
    position: absolute;
    margin-top: 7vh;
    margin-bottom: 2vh;
    margin-left: 50vh;
    font-size: 15vh;
    color: rgb(228, 227, 227);
    z-index: -80;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    text-shadow: 
        2px 2px 3px rgba(150, 150, 150, 0.5),  
        -2px -2px 3px rgba(255, 255, 255, 0.5);
} */


/* #content_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 70vh;
    margin-top: 20vh;
    border-radius: 3vh;
    background-color: rgb(228, 227, 227);
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
} */

/* #content_box > button {
    position: absolute;
    right: 8.7%;
    background-color: transparent;
    border: none;
    font-size: 5vh;
    color: rgb(228, 227, 227);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4 );
}
#content_box > button:hover{
    font-size: 6vh;
    cursor: pointer;
}

/* #top_line > div {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-size: 4vh;
} */

/* #content_area{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    height: 90%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}
#content{
    width: 30%;
    height:45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4 );
    border-radius: 5vh;
    z-index: 10000;

}

#content:hover {
    cursor: pointer;
    background-color: rgb(165, 163, 163);
}  */
